<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/html1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="all,follow" />
    <title>Cảm ơn Quý khách đã để lại thông tin tư vấn | CTCP Chứng khoán Bản Việt (HoSE: VCI)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="GravCMS" />
    <meta name="description" content="Công ty Cổ phần Chứng khoán Bản Việt (VCSC) được thành lập năm 2007, là một trong những công ty chứng khoán phát triển nhanh nhất tại Việt Nam. Năm 2014, VCSC tạo được sức bật mạnh mẽ để lần đầu tiên vượt qua ngưỡng mục tiêu 25% đối với tỷ suất lợi nhuận trên vốn chủ sở hữu (ROE), và tiếp tục được công nhận qua hai giải thưởng danh giá từ Finance Asia và từ Euromoney là Ngân hàng đầu tư tốt nhất Việt Nam" />
    <meta property="og:title" content="Mở Tài Khoản" />
    <meta property="og:description" content="Công ty Cổ phần Chứng khoán Bản Việt (VCSC) được thành lập năm 2007, là một trong những công ty chứng khoán phát triển nhanh nhất tại Việt Nam. Năm 2014, VCSC tạo được sức bật mạnh mẽ để lần đầu tiên vượt qua ngưỡng mục tiêu 25% đối với tỷ suất lợi nhuận trên vốn chủ sở hữu (ROE), và tiếp tục được công nhận qua hai giải thưởng danh giá từ Finance Asia và từ Euromoney là Ngân hàng đầu tư tốt nhất Việt Nam" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://invest.vcsc.com.vn/mo-tai-khoan-online" />
    <meta property="og:image" content="https://www.vcsc.com.vn/assets/img/logo/logo-nav.png" />

    <meta name="keywords" content="chứng khoán, mở tài khoản chứng khoán, cách mở tài khoản chứng khoán,mở tài khoản chứng khoán online, mo tai khoan chung khoan, nên mở tài khoản chứng khoán ở đâu, mở tài khoản chứng khoán vcsc, mở tài khoản chứng khoán vci, mở tài khoản chứng khoán chứng khoán bản việt, mở tài khoản chứng khoán trực tuyến, thủ tục mở tài khoản chứng khoán, cách mở tài khoản chứng khoán online, cach mo tai khoan chung khoan">
    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Judson:wght@700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    
    <link rel="apple-touch-icon" sizes="57x57" href="/mo-tai-khoan-online/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/mo-tai-khoan-online/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/mo-tai-khoan-online/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/mo-tai-khoan-online/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/mo-tai-khoan-online/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/mo-tai-khoan-online/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/mo-tai-khoan-online/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/mo-tai-khoan-online/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/mo-tai-khoan-online/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/mo-tai-khoan-online/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/mo-tai-khoan-online/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/mo-tai-khoan-online/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/mo-tai-khoan-online/favicon-16x16.png">
    <link rel="manifest" href="/mo-tai-khoan-online/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mo-tai-khoan-online/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <script type="text/javascript">

    </script>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' www.google.com www.gstatic.com; child-src www.google.com www.gstatic.com; object-src 'none'; style-src 'unsafe-inline';"> -->
</head>
    
<body>
    <div id="__paradox"></div> 
    <script>
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = window.location.origin + "/mo-tai-khoan-online/contact.bundle.js";
        head.appendChild(script);
    </script>
</body>
</html>